<%= stylesheet_link_tag 'orders/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<title>MasterControl - Editar Pedido</title>

<main>
 <div class="create-form">
  <h1>Editar Pedido</h1>

  <%= form_with(url: order_path, method: :patch, model: @order) do |form| %>
  <div class="first-grid">
    <div class="field">
      <%= form.label :description, "Descrição" %>
      <%= form.text_field :description, required: true %>
    </div>
  </div>
  <div class="second-grid">
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, options_for_select(Order.statuses.map {|key, value| [key.humanize, value]}), {}, required: true %>
    </div>
  </div>
  <div class="footer">
    <%= form.submit "Continuar" %>
    <%= link_to "Voltar para o dashboard", orders_path %>
  </div>
  <% end %>
  </div>
</main>
